<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500715082267-phg1ltqmf6fcrvg0r0engoko1l7kbr5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500715082267-phg1ltqmf6fcrvg0r0engoko1l7kbr5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDcglL6SMmQaLulbIOtVYb4LKk2jE5Wis0</string>
	<key>GCM_SENDER_ID</key>
	<string>500715082267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.appviagens</string>
	<key>PROJECT_ID</key>
	<string>appviagens-2cd55</string>
	<key>STORAGE_BUCKET</key>
	<string>appviagens-2cd55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500715082267:ios:881cfe8430dbb4e3681ebe</string>
</dict>
</plist>